<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <!--                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>-->
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <!--                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>-->
                    <!--                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>-->
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="products" responsiveLayout="scroll" [rows]="10"
                     [paginator]="true" [rowsPerPageOptions]="[10,20,30]"
                     [showCurrentPageReport]="true" [loading]="loadingTable"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Units</h5>
                        <!--<span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>-->
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>No</th>
                        <!--                        <th pSortableColumn="kmg_id" class="white-space-nowrap">ID <p-sortIcon field="kmg_id"></p-sortIcon></th>-->
                        <th pSortableColumn="kmg_floor" class="white-space-nowrap">Lantai
                            <p-sortIcon field="kmg_floor"></p-sortIcon>
                        </th>
                        <th pSortableColumn="kmg_unit" class="white-space-nowrap">Unit
                            <p-sortIcon field="kmg_unit"></p-sortIcon>
                        </th>
                        <th pSortableColumn="kmg_periode" class="white-space-nowrap">Durasi
                            <p-sortIcon field="kmg_periode"></p-sortIcon>
                        </th>
                        <th pSortableColumn="kmg_price" class="white-space-nowrap">Harga
                            <p-sortIcon field="kmg_price"></p-sortIcon>
                        </th>
                        <th pSortableColumn="kmg_check_in" class="white-space-nowrap">Jam Check-In
                            <p-sortIcon field="kmg_check_in"></p-sortIcon>
                        </th>
                        <th pSortableColumn="kmg_agent" class="white-space-nowrap">Agent
                            <p-sortIcon field="kmg_agent"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
                    <tr>
                        <td class="text-center">{{ rowIndex + 1 }}</td>
                        <!--<td style="width:14%; min-width:1rem;">
                            {{product.kmg_id}}
                        </td>-->
                        <td style="width:14%; min-width:1rem;">
                            {{ product.kmg_floor }}
                        </td>
                        <td style="width:14%; min-width:1rem;">
                            {{ product.kmg_unit }}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            {{ product.kmg_periode }} Jam
                        </td>
                        <td style="width:14%; min-width:8rem;" class="white-space-nowrap">
                            {{ product.kmg_price | currency:'IDR': 'Rp. ' }}
                        </td>
                        <td style="width:14%; min-width:10rem;" class="white-space-nowrap">
                            {{ product.kmg_check_in | date: 'EEEE, d MMMM Y HH:mm':'UTC' }}
                        </td>
                        <td style="width:14%; min-width:10rem;" class="white-space-nowrap">
                            {{ product.kmg_agent }}
                        </td>
                        <td class="white-space-nowrap">
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog *ngIf="productDialog" [(visible)]="productDialog" [style]="{width: '450px'}" (onHide)="hideDialog()"
                  header="Product Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <ng-container [formGroup]="formInputSewa">
                    <div class="formgrid grid">
                        <div class="field col" *ngIf="formInputSewa.get('kmg_floor') as ctrl">
                            <label for="kmg_floor">Lantai</label>
                            <p-autoComplete formControlName="kmg_floor"
                                            [suggestions]="getSuggestion('kmg_floor')"
                                            [ngClass]="{'ng-invalid ng-dirty' : submitted && ctrl.invalid}"
                                            appendTo="body"></p-autoComplete>
                            <!--                            <input pInputText formControlName="kmg_floor" [pKeyFilter]="'pint'">-->
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && ctrl.invalid">Lantai is
                                required.</small>
                        </div>
                        <div class="field col" *ngIf="formInputSewa.get('kmg_unit') as ctrl">
                            <label for="kmg_unit">Unit</label>
                            <p-autoComplete formControlName="kmg_unit"
                                            [suggestions]="getSuggestion('kmg_unit')"
                                            [ngClass]="{'ng-invalid ng-dirty' : submitted && ctrl.invalid}"
                                            appendTo="body"></p-autoComplete>
                            <!--                            <input pInputText formControlName="kmg_unit" [pKeyFilter]="'pint'">-->
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && ctrl.invalid">Unit is
                                required.</small>
                        </div>
                    </div>
                    <div class="formgrid grid">
                        <div class="field col" *ngIf="formInputSewa.get('kmg_price') as ctrl">
                            <label for="kmg_price">Harga</label>
                            <p-inputNumber id="kmg_price" formControlName="kmg_price" mode="currency" currency="IDR"
                                           locale="id-ID"
                                           [ngClass]="{'ng-invalid ng-dirty' : submitted && ctrl.invalid}"></p-inputNumber>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && ctrl.invalid">Harga is
                                required.</small>
                        </div>
                        <div class="field col" *ngIf="formInputSewa.get('kmg_periode') as ctrl">
                            <label for="kmg_periode">Durasi</label>
                            <p-inputGroup>
                                <input [pKeyFilter]="'pint'" formControlName="kmg_periode" pInputText
                                       [ngClass]="{'ng-invalid ng-dirty' : submitted && ctrl.invalid}"/>
                                <p-inputGroupAddon>Jam</p-inputGroupAddon>
                            </p-inputGroup>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && ctrl.invalid">Durasi is
                                required.</small>
                        </div>
                    </div>
                    <div class="field" *ngIf="formInputSewa.get('kmg_agent') as ctrl">
                        <label for="kmg_agent">Agent</label>
                        <p-autoComplete formControlName="kmg_agent"
                                        [suggestions]="['Reza', 'Rehan']"
                                        [ngClass]="{'ng-invalid ng-dirty' : submitted && ctrl.invalid}"
                                        appendTo="body"></p-autoComplete>
                        <!--                        <input type="text" pInputText id="kmg_agent" formControlName="kmg_agent" [ngClass]="{'ng-invalid ng-dirty' : submitted && ctrl.invalid}"/>-->
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && ctrl.invalid">Agent is required.</small>
                    </div>
                </ng-container>
            </ng-template>

            <ng-template pTemplate="footer">
                <button [loading]="btnLoading" pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                        (click)="hideDialog()"></button>
                <button [loading]="btnLoading" pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                        (click)="saveProduct()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete this?</span>
            </div>
            <ng-template pTemplate="footer">
                <button [loading]="btnLoading" pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                        (click)="deleteProductDialog = false"></button>
                <button [loading]="btnLoading" pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                        (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <!--<p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected products?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>-->
    </div>
</div>
